body {
  background-color: #333;
  color: #ccc;
  font-family: sans-serif;

  nav {
    background-color: #666;
    padding: .1rem;

    ul {
      display: flex;
      list-style: none;
      padding: 0 0 0 1rem; 
      gap: 1rem;

      a {
        color: #bbb;
        text-decoration: none;
      }
      a.active {
        color: rgb(210, 210, 44);
      }
    }
  }

  .employee {
    background-color: #222;
    padding: 1rem;
    margin-bottom: 1rem;

    div.fullName {
      font-size: 1.5rem;
      color: rgb(215, 215, 165);
    }
    div.title {
      color: orange;
    }
    div.notes {
      font-style: italic;
    }
  }
}