body {
  background-color: #333;
  color: #ccc;
  font-family: sans-serif;

  a {
    color: rgb(106, 195, 133);
  }

  .info {
    background-color: rgb(153, 206, 151) !important;
    color: black;
    padding: .5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
  }

  nav {
    background-color: #666;
    padding: .1rem;

    ul {
      display: flex;
      list-style: none;
      padding: 0 0 0 1rem;
      gap: 1rem;

      a {
        color: #bbb;
        text-decoration: none;
      }

      a.active {
        color: rgb(210, 210, 44);
      }
    }
  }

  .employee {
    background-color: #222;
    padding: 1rem;
    margin-bottom: 1rem;

    div.fullName {
      font-size: 1.5rem;

      a {
        color: rgb(215, 215, 165);
        text-decoration: none;
      }
    }

    div.title {
      color: orange;
    }

    div.notes {
      font-style: italic;
    }
  }
}