body {
	background-color: #333;
	color: #ccc;
	font-family: sans-serif;

	a {
		color: rgb(227, 233, 171);
	}

	.info {
		background-color: rgb(206, 206, 151) !important;
		color: black;
		padding: .5rem 1rem;
		margin-bottom: 1rem;
		border-radius: 5px;
	}

	.pageArea {
		padding: 1rem;
	}

	.techBook {
		background-color: #222;
		padding: 2rem;
		border-radius: 5px;
		color: #fff;
		display: flex;
		gap: 1rem;

		img {
			width: 200px;
		}

		.title {
			font-size: 2.5rem;
			color: rgb(218, 218, 159);
		}

		.description {
			font-size: 1.3rem;
			color: #ccc;
		}

		animation: fadein 1s ease-in;
	}

	.techBookNav {
		a {
			color: rgb(233, 233, 167);
			text-decoration: none;
		}

		a.active {
			color: rgb(0, 0, 0);
			background-color: rgb(225, 221, 101);
			display: inline-block;
			padding: 0 .5rem;
			font-weight: bold;
		}
	}

	nav {
		background-color: #666;
		padding: .1rem;

		ul {
			display: flex;
			list-style: none;
			padding: 0 0 0 1rem;
			gap: 1rem;

			a {
				color: #bbb;
				text-decoration: none;
			}

			a.active {
				color: rgb(210, 210, 44);
			}
		}
	}

	.employee {
		background-color: #222;
		width: 40rem;
		padding: 1rem;
		margin-bottom: 1rem;
		display: flex;
		gap: 1rem;

		img {
			width: 150px;
		}

		div.fullName {
			font-size: 1.5rem;

			a {
				color: rgb(215, 215, 165);
				text-decoration: none;
			}
		}

		div.title {
			color: orange;
		}

		div.notes {
			font-style: italic;
			margin-top: 1rem;
		}
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}